.Calculator {
    background-color: rgb(243, 61, 20);
    width: 190px;
    border: 2px solid black;
    margin: 200px auto;
}

.calculator-bg {

    background: linear-gradient(to right, rgba(185, 46, 175, 0.95), rgba(33, 218, 116, 0.95), rgba(185, 201, 17, 0.9), rgba(205, 140, 44, 0.85), rgba(243, 18, 18, 0.95));
    width: 1519px;
    height: 800px;
}

.calc-center {
    padding-left: 600px;
    padding-top: 300px;

}

.calc-btn-flex {
    display: flex;
}

/* .background_image {} */